<form [formGroup]="profileForm"> <br><br><br>

    <label for="hero-name">Hero Name: </label>
    <input id="hero-name" type="text" formControlName="heroName"><br><br><br>
  
    <label for="hero-id">Hero Id: </label>
    <input id="hero-id" type="text" formControlName="heroId"><br><br><br>

    <div formGroupName="Information">
        <h2>Information</h2>
      
        <label for="street"> Enemy: </label>
        <input id="street" type="text" formControlName="enemy"> <br><br><br>
      
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city"> <br><br><br>
      
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state"> <br><br><br>
      
    </div>
    <div formArrayName="aliases">
        <h2>Aliases</h2>
        <button type="button" (click)="addAlias()">+ Add another alias</button>
      
        <div *ngFor="let alias of aliases.controls; let i=index">
          <!-- The repeated alias template -->
          <label for="alias-{{ i }}">Alias:</label>
          <input id="alias-{{ i }}" type="text" [formControlName]="i">
        </div>
      </div>
    <p>Form Status: {{ profileForm.status }}</p>
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  
  </form>
 